@charset "utf-8";

/*删除的样式*/
.IsDel{
    width:350px;
    height:120px;
    border:3px solid #e5e5e5;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:15px;
    font-family:"Microsoft YaHei";
    background: white;
}
.IsDel_Title{
    font-size: 16px;
	padding-top: 26px;
	text-align: center;
	color:#b0b0b0;
}
.IsDel_Btn{
   	text-align: center;
	height: 40px;
	padding-top: 16px;
}
.gray{
    background:#738092;
}
.orange{
    background:#ff6000; 
    margin-left: 12px; 
}
.IsDel .IsDel_Btn a{
  	width: 78px;
	height: 28px;
	line-height: 28px;
	color: #ffffff;
	display:inline-block;
	text-align: center;
	font-size: 16px;
}

.IsDel_Btn a.none{
	display:none;
}
#confirm_dialog{
	z-index:10px;
}
