@charset "utf-8";

/* ��ɫ����ֵ */
.c_62d669{color:#62d669;}
.c_89939d{color:#89939d;}
.c_999{color:#999;}
.c_62ce61{color:#62ce61;}
.c_ea5b5b{color:#ea5b5b;}
.c_fff{color:#fff;}
.c_1179b8{color:#1179b8;}
.c_38f{color:#3388ff;}
.c_f44{color:#ff4444;}
.bg_fff{background:#ffffff;}
.bgcol{background:#f9f9fb;}
.c_bgf9 {background: #f9f9fb;}
.col_red{color:#FF2842;}
.col_black{color: #222D44;}
/* ���� */
.fwb{font-weight: bold;}
/* ����body�Ĺ����� */
.bodyScrollHidden{overflow: hidden;}
/* ������ʽ */
.cp{cursor:pointer;}
.bdr1{border-right:1px solid #ddd;}
.topBar{border-bottom:4px solid #0367a7;height:0}
.ml6{margin-left:6px;}
.mr6{margin-right:6px;}
.hand{cursor:pointer;}
.borB_eee{border-bottom:1px solid #eeeeee;}
.ml100{margin-left:100px;}
.lh30{line-height:30px;}
/*����*/
.borB_eee{border-bottom:1px solid #eeeeee;}
/* ��ť��ʽ */
input,button,textarea {outline:none;}
.btnw40,.btnw80,.btnw100,.btnw160,.btnw200,.btnw280,.lineBtnw40,.lineBtnw80,.lineBtnw100,.lineBtnw160,.lineBtnw200,.lineBtnw280,.selectLineBtn,.searchBox {font-family:'Microsoft YaHei',\5fae\8f6f\96c5\9ed1; border:0; border-radius:3px; cursor:pointer; text-align:center; white-space:nowrap; padding:0;}
.btnw40 {width:40px; height:20px; line-height:20px; font-size:13px; line-height:18px\9; *line-height:19px;}
.btnw80 {width:80px; height:30px; line-height:30px; font-size:14px;}
.btnw100 {width:100px; height:34px; line-height:34px; font-size:16px;}
.btnw160 {width:160px; height:34px; line-height:34px; font-size:16px;}
.btnw200 {width:200px; height:50px; line-height:50px; font-size:20px;}
.btnw280 {width:280px; height:50px; line-height:50px; font-size:20px;}
input.btnw40,button.btnw40 {line-height:18px;}
input.btnw80,button.btnw80 {line-height:28px;}
input.btnw100,button.btnw100,input.btnw160,button.btnw160 {line-height:32px;}
input.btnw200,button.btnw200,input.btnw280,button.btnw280 {line-height:normal;}
.lineBtnw40 {width:38px; height:18px; line-height:18px; font-size:13px; line-height:16px\9;}
.lineBtnw80 {width:78px; height:28px; line-height:28px; font-size:14px;}
.lineBtnw100 {width:98px; height:32px; line-height:32px; font-size:16px;}
.lineBtnw160 {width:158px; height:32px; line-height:32px; font-size:16px;}
.lineBtnw200 {width:198px; height:48px; line-height:48px; font-size:20px;}
.lineBtnw280 {width:278px; height:48px; line-height:48px; font-size:20px;}
input.lineBtnw40,button.lineBtnw40 {width:40px; height:20px; line-height:16px;}
input.lineBtnw80,button.lineBtnw80 {width:80px; height:30px; line-height:28px; *line-height:26px;}
input.lineBtnw100,button.lineBtnw100 {width:100px; height:34px; line-height:32px; *line-height:30px;}
input.lineBtnw160,button.lineBtnw160 {width:160px; height:34px; line-height:32px; *line-height:30px;}
input.lineBtnw200,button.lineBtnw200 {width:200px; height:50px; line-height:normal;}
input.lineBtnw280,button.lineBtnw280 {width:280px; height:50px; line-height:normal;}
.majorButton {background:#4499ff;border: 1px solid #4499ff; color:#FFF;}
.majorButton:hover {background:#3388ff;}
.majorButton:active {background:#66aaff;}
.minorButton {background:#ff8000; color:#FFF;}
.minorButton:hover {background:#fc9228;}
.minorButton:active {background:#ec5a02;}
.cancleButton{border: 1px solid #dde1ee;color: #545f6a;background: #fff;box-shadow: 1px 1px 2px #dde1ee;}
.yellowButton {background:#62ce61; color:#FFF;}
.yellowButton:hover {background:#6be06a;}
.yellowButton:active {background:#2cb52b;}
.lineMajorButton { background:#FFF; border:1px #177bbb solid; color:#177bbb;}
.lineMajorButton:hover {border:1px #58ade1 solid;}
.lineMajorButton:active {border:1px #0367a7 solid;}
.lineMinorButton { background:#FFF; border:1px #cccccc solid; color:#666666;}
.lineMinorButton:hover {border:1px #ebebeb solid;}
.lineMinorButton:active {border:1px #999999 solid;}
.disabledButton { background:#cccccc; border:1px #cccccc solid; color:#ffffff; cursor:default;}
.lineDisabledButton {background:#FFF; border:1px #cccccc solid; color:#cccccc; cursor:default;}
.selectLineBtn {width:293px; height:28px; line-height:28px; padding:0 0 0 5px; text-align:left;}
.selectLeft {width:260px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; color:#999;}
.selectLeft span,.selectLeft em {color:#666;}
.selectLeft em {padding:0 3px; font-size:12px;}
.selectRight {margin-right:9px; color:#858585;}
.searchBox {position:relative; width:30px; height:30px;}
.searchBox i {position:absolute; color:#FFF; font-size:16px; left:7px; top:7px;}
.inputText,.multiRowText {border:1px #cccccc solid; color:#666; border-radius:3px; outline:none;}
.inputText{ height:28px; line-height:28px; padding:0 5px;}
.multiRowText {padding:5px; width:100%; line-height:1.8;}
.searchDiv .inputText {padding-right:28px;width:265px;}
.searchBtn { position:absolute; width:23px; height:28px; overflow:hidden; border:0; right:1px; top:1px; *top:2px; color:#858585; font-size:16px; z-index:1;}
.searchBtn:hover { color:#177bbb;}
.searchBtn i {margin:5px 0 0 0px;}


/* ���� */
.table {border:1px #ebebeb solid; border-top:0; border-left:0;}
.table th,.table td { border:1px #ebebeb solid; border-bottom:0; border-right:0; text-align:center; font-size:14px;}
.table th {padding:7px 0; background:#F3F3F3; color:#999;}
.table td {padding:7px 0; background:#ffffff;}
.table tr:hover td {background:#f3fafe;}
.table td a { color:#177bbb;}
.table td em {padding:0 5px; color:#999999; font-size:12px;}
.smallTable th,.smallTable td{padding:4px 0; line-height:1.5;font-weight:lighter;}

/* ��ҳ */
.page,.pageL{ color:#999;}
.pageList li,.pageL li{float:left; display:inline; margin:0 2px; position:relative;}
.pageList li span,.pageList li a,.pageL li span, .pageL li a{float:left; display:inline; width:32px; height:32px; line-height:34px; color:#333; border:1px solid #fff; background:#FFF; font-size:16px; overflow:hidden; text-align:center;}
.pageList li a.dis,.pageL li a.dis{ color:#ccc;}
.pageList li a:hover,.pageL li a:hover { color:#58ade1; background:#fff; border:1px solid #58ade1;}
.pageList li a:active,.pageL li a:active{ color:#0367a7; border:1px solid #0367a7;}
.pageList li a.cur,.pageL li a.cur{ color:#FFF; background:#177bbb; border:1px solid #177bbb;}
.page .prev a,.page .next a { /*padding-top:6px; height:22px;*/}
.pageL li{ margin:0 4px;}
.pageL li span, .pageL li a{ width:26px; height:26px; line-height:28px; font-size:14px;}
.pageSelect,.chosen-select-page{width:50px;}



/*��ʾ��*/
.tryListen,.talkBtnDisable,.btn_doWork_disabled,.last_time {position:relative;}
.tipBox {position:absolute; z-index:200;}
.tipBox .prompt {position:relative; float:left; border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; padding:2px 12px; line-height:24px;}
.tipcon {white-space:nowrap;}
.tipBox .prompt .point {position:absolute;}
.grayDarkLeft .prompt {background:#666666; color:#FFF;}
.grayDarkLeft .prompt .point { background:url(../../images/tip_graydark.png) no-repeat -10px 0; width:5px; height:10px; right:-5px; top:9px;}
.grayLineBottom .prompt {background-color:#fff; border:1px solid #ebebeb; color:#666666;box-shadow:-2px 2px 5px rgba(204,204,204,0.4);}
.grayLineBottom .prompt .point { background:url(../../images/tip-yellowsimple_arrows.gif) no-repeat; width:9px; height:7px; top:-6px;}
.grayDarkBottom .prompt {background:#666666; color:#FFF;}
.grayDarkBottom .prompt .point { background:url(../../images/tip_graydark.png) no-repeat -20px 0; width:10px; height:6px; top:-5px;}
.grayBlackBottom .prompt {background:#000000; color:#FFF;}
.grayBlackBottom .prompt .point { background:url(../../images/tip_black.png) no-repeat -20px 0; width:10px; height:6px; top:-5px;}
.grayBlackLeft .prompt {background:#000000; color:#FFF;}
.grayBlackLeft .prompt .point { background:url(../../images/tip_black.png) no-repeat -10px 0; width:5px; height:10px; right:-5px; top:9px;}
.tipHtml { display:none; -moz-box-shadow:-3px 3px 3px #ccc;-webkit-box-shadow:-3px 3px 3px #ccc;box-shadow:-3px 3px 3px #ccc;}




body{width:100%;}
.main{width:1180px;margin:0 auto;}
/* ������ʾ�� */
.floatTipBox{position: absolute;display: table-cell;top: 0;left: 40%;width: 200px;background-color: #000;color: #fff;font-size: 16px;z-index: 10000;text-align: center;border-radius: 3px;padding: 10px 10px;filter: alpha(opacity=50);-moz-opacity: 0.5;-khtml-opacity: 0.5;opacity: 0.5;}
/* ���ض��������� */
.goBackTopArea{position: fixed;width: 50px;height: 50px;background:url(../../images/img/top.png) no-repeat;bottom: 60px;right: 30px;cursor: pointer;}
/* ������ʽ */
.bodyLightbox{  position:fixed;  left:0;  background-color:#000;  top:0;  width:100%;  height:100%;  filter:alpha(opacity=30);  -moz-opacity: 0.3;  opacity: 0.3;  zoom:1;  z-index:7;  }
/* ����ͼƬ */
.bodyLightbox .bodyLightbox_imgDiv{  position: fixed;  top: 45%;  left: 49%;  width: 60px;  height: 60px;  background:url(../../images/img/loading_circle_40b82ef.gif) no-repeat;  color: red;  }
/* input��textarea */
.inputText{height:28px;line-height:28px;border:1px solid #ccc;border-radius:3px;color:#b9bcc5;outline:none;}
.inputText:focus{border:1px solid #4499ff;box-shadow:0px 0px 1px #4499ff;}
.inputDisable {border:1px solid #ccc;background-color:#ebebeb;color:#ccc;}
.inputError {border:1px solid #ea5b5b;}
.textarea{padding:5px;border:1px solid #ccc;border-radius:3px;outline:none;}
.textarea:focus{border:1px solid #4499ff;box-shadow:0px 0px 1px #4499ff;}
.btn{border:0;border-radius:3px;cursor:pointer;text-align:center;white-space:nowrap;padding:0;}
.checkbox{display:inline-block;width:16px;height:16px;margin-bottom:3px;padding-right:0.65em;/*background:url(../images/checkbox-bg.png) no-repeat;*/vertical-align:middle;cursor:pointer;}
.dashedLine_b{border-bottom:2px dashed #f0f0f0;}
/*��������ʽ*/
.banking{display: inline-block; min-width: 60px;padding:0 20px; border:0;border-bottom:1px solid #ccc;background: none;text-align: center;color: #68d467;}
button{font-family:'Microsoft YaHei',\5fae\8f6f\96c5\9ed1;border:0;border-radius:3px;cursor:pointer;text-align:center;white-space:nowrap;padding:0;}
.btn{height:28px;line-height:28px;border-radius:3px;}
.blue{color:#1b7ab4;}
.ms-controller{visibility: hidden}
.none{display:none;}
.topOperationBar{position:relative;height: 70px;background-color:#187bbc;color:#FFF;width:100%;}
.topBarFixed{position:fixed;top:0;z-index:5;}
.topOperationBar_fix{    position: fixed;top: 0;z-index: 3;}
.topOperationBar .optArea{position:relative;margin:0 auto;line-height: 70px;}
.courseCon{position: relative;white-space: nowrap ;overflow : hidden;text-overflow : ellipsis;font-size:22px;padding-right:15px;cursor:pointer;}
.courseCon span{padding-right:10px;}
.courseCon i{/* position: absolute;right: 0;top:14px; */}
.courseListCon{display: none;position:absolute; margin:0 auto;background-color: #fff;border:1px solid #ebeff2;border-top:0; border-radius:0 0 8px 8px;box-shadow: 1px 1px 10px #edf2f6;-moz-box-shadow: 1px 1px 10px #edf2f6;-webkit-box-shadow: 1px 1px 10px #edf2f6;z-index:7;}
.courseListCon .c_area{margin: 20px;}
.courseListCon .crouseTableArea{position: relative;height: 140px;overflow: hidden;}
.courseListCon .tb{color:#999;font-size:14px;}
.courseListCon .tb tr{height:45px;line-height: 45px;border-bottom:1px dashed #ccc;}
.courseListCon .tb td{}
.courseListCon .tb td label{cursor:pointer;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding: 5px 10px;border-radius:3px;}
.courseListCon .tb td label:hover{background-color:#187bbc;color:#FFF;}
.topOperationBar .optArea ._threeNavArea{position: absolute;left:0;}
.topOperationBar .optArea ._threeNavArea li{float:left;margin-right: 20px;width:100px;height: 100%;font-size: 16px;text-align: center;cursor:pointer;}
.topOperationBar .optArea ._threeNavArea li.tCurr{background: #4499ff;}
.topOperationBar .optArea ._threeNavArea li a{color:#FFF;}
.topOperationBar .optArea ._topOtherCon{position: absolute;right: 0;top: 0;}
.topOperationBar .optArea ._topOtherCon .searchArea i{display: inline-block;background-position: -108px 0;width: 41px;height: 30px;cursor: pointer;}
.topOperationBar .optArea .btnArea .btn{height:30px;font-size:14px;}
/* ����������-- �������ⰴť���������� */
.topOperationBar .optArea .btnArea .btn_impt{background-color:#22a9ed;color:#FFF;}
/* ����������-- �½����ⰴť���������� */
.topOperationBar .optArea .btnArea .btn_newCon{background-color:#62ce61;color:#FFF;}
/* icon */
.bg_icon{background:url(../../images/img/sprite_icon.png) no-repeat;border:none;}
/* Ԫ�صĴ�ֱ���뷽ʽ--�ϱ��߶��� */
.verta_t{vertical-align: top;}
/* ��ѡ���¼� */
.check {display:inline-block;width:16px;height:16px;margin-bottom:3px;padding-right:0.65em;vertical-align:middle;cursor:pointer;}
.checkBox{height: 16px;width: 16px;display: block;cursor: pointer;}
.checkBox_false{background: url(../../images/img/cb.png) no-repeat 0;
    background-position: 1px 1px;
    width: 16px;
    height: 16px;
    margin-bottom: 3px;}
.checkBox_true{background: url(../../images/img/cb.png) no-repeat 0;
    background-position: 1px -31px;
    width: 16px;
    height: 16px;
    margin-bottom: 3px;}



/* ͷ�� ҳ�� */
.headBox{width:100%; background:#FFF url(../images/sprite_bg.png) repeat-x left -120px; position:relative;}
.head{height:112px;}
.header{height:71px;}
.header p.logo{ width:50%;}
.menu_box{ height:40px;width:126px;line-height:2; position:relative;}
.menu_tit{ height:32px; padding:0 20px 5px; border:1px solid #FFF; border-bottom:none; overflow:hidden;}
.menu_tit_hove{ border:1px solid #1a96d2; border-bottom:none; position:absolute; left:0; z-index:10; background:#FFF;}
.menu_tit span{ white-space:nowrap;}
.AllHomePage{margin-top:38px;margin-right:6px;}
.AllHomePage a{color:#1887bd;cursor:pointer;}
.userHead{margin-top:38px;}
.userHead .name{font-size:14px;color:#1887bd;font-weight:bold;}
.userHead .nameAttr{color:#999999;font-size:14px;}
.userHead .loginout{color:#999999;font-size:14px;cursor:pointer;}

/*
ul.menu{ width:883px; position:absolute; right:1px; top:37px; padding:10px; border:1px solid #1a96d2; background:#FFF;}
ul.menu li{ width:220px; float:left; border-right:1px dashed #b4b4b4;}
ul.menu li.no_border{ border-right:none;}
ul.menu li.top_border{ border-top:1px solid #b4b4b4;}
ul.menu dl{ margin:15px 0 20px; overflow:hidden;}
ul.menu dl dt{ width:190px; display:block; font-weight:900; font-size:14px; color:#000; padding:0 15px; text-align:left;}
ul.menu dl dd{ width:90px; float:left; padding:5px 10px;}
*/

.menuContainer{background:#fff;position:absolute;right:1px;top:37px;z-index:100001;}
.menuContainer table{width:100%;}
.menuContainer .blockArea{padding:0 22px;border-right:1px dotted #b5b5b5;vertical-align:top;}
.menuContainer .first{padding-left:0;}
.menuContainer .end{border-right:none;}
.menuContainer td ul{width:180px;line-height:32px;}
.menuContainer li{float:left;width:90px;}
.menuContainer h2{color:#000;line-height:32px;font-size:14px;font-weight:bold;}
.menuContainer li a{color:#999;}
.menuContainer li a:hover{color:#1a96d2;font-weight:bold;}
.menuContainer .solidArea{height:40px;}
.menuContainer .solid{height:1px;background:#ccc;}
.menuContainer{padding:20px 20px 20px 20px;border:1px solid #1a96d2;}

.nav_wrap{height:40px;font:300 14px/41px "Microsoft Yahei";}
.nav .first{font-size:18px;background:#1887bd;color:#fff;margin-right:0;}
.nav li{float:left;width:90px;height:41px;text-align:center;margin-right:15px;}
.nav li a{display:block;height:100%;}
.nav li a:hover,.nav li a.current{background:#67bce5;color:#fff;}


/* �ײ���Ȩ���� */
/* .newFooter{ position: relative; bottom: 0;} */
#copyright-fxl{ height:50px; line-height:50px; background-color:#222D44; text-align:center;color:#ffffff;}


/* ͷ���˵� */
.newHeader{height:60px; background: #3388ff;}
.bg_logo{background:url(../../images/img/logo.png) repeat-x;height: 60px;width: 135px;}
.bg_logo img{height: 60px;width: 150px; max-width: 100%;vertical-align: top;}
#nav{ height:60px; line-height:60px; position:relative; z-index:2;}
.navUl a{ padding:0 20px; display:block; text-align:center;;height:60px;line-height:60px; color: #99c4ff;}
.navUl a .fa{font-size:12px;margin-left:5px;position:relative;top:-4px;}
.navUl a:hover,.navUl .Cur a{color: #fff;}
.navUl .navSF{position: relative; cursor:pointer;}
.navUl .ellipsis{ font-size:12px; letter-spacing:-1px; cursor:pointer;}
.navUl .sec_elliMore,.elliMore{ width:120px; position:absolute; left:-15px; top:60px; display:none;border-radius:0 0 3px 3px;box-shadow: 1px -4px 30px 2px #dde4f2;padding: 5px 0;}
.navUl .elliMore::before{position:absolute;left:51px; top:-20px;z-index:12;content:"";width: 0;height: 0;border-width: 10px; border-style: dashed dashed solid dashed; border-color: transparent transparent #fff transparent;}
.navUl .sec_elliMore li,.elliMore li{width:100%;}
.navUl .sec_elliMore {left:0;}
.navUl .sec_elliMore li a,.elliMore li a{ font-weight:300; line-height:30px;height:30px;border-top:0;color:#aab6cc;font-size:13px;}
.navUl .sec_elliMore li a:hover,.elliMore li a:hover{color:#4499ff; line-height:28px;background:#eef5ff;height:28px;border-top: 1px solid #e5efff;border-bottom: 1px solid #e5efff;}
.navUl .navMore { width:90px;color:#BFE5FF;line-height:60px;}
.navUl .navMore .ellipsis {width:90px;left:0;}
/* .navUl .navMore:hover {background:#177bbb;} */
.navUl .navli {display:none;}
.bg_179ee1{background:#179ee1;}
.bg_2aafe7{background:#2aafe7;}
.c_58abe1{color:#58abe1;}

#userN{padding:0 10px;}
#userN em.fl{color:#aadff5;opacity:.5;}
#userN i{transition:margin-top 0.5s,transform 0.5s;-webkit-transition:margin-top 0.5s,-webkit-transform 0.5s; margin-top:15px;}
.userN_con i.fa-user,.userN_con i.fa-cogs,.userN_con i.fa-refresh,.userN_con i.fa-sign-out{width:12px;}
#userN.Hover i{transform:rotate(180deg);-webkit-transform:rotate(180deg); margin-top:21px; *margin-top:15px;}
.userLetter_con,.userN_con{ width:61px; position:absolute; left:0px; top:50px; padding:5px 0;display:none;}
.msgNum{ width:20px; height:14px; background:#ec5a02; border-radius:14px 14px 14px 14px; line-height:14px;overflow:hidden; text-align:center;}
.teacher_con { position:absolute; position:absolute; right:0; top:50px; padding:5px 0 10px; display:none;}
.userLetter_con {width:75px;}
.userLetter_con li em{ font-size:10px; font-weight:600; margin:6px 0 0;}
.userN_con{ width:auto; min-width:100%; _width:100%;}
.userN_con ul li,.userLetter_con ul li,.teacher_con ul li {padding:0 10px; line-height:27px; white-space:nowrap;}
.userN_con ul li:hover,.userLetter_con li:hover,.teacher_con li:hover {background:#177bbb;}
#userLetter{ width:45px; height:50px;}
#userLetter .fa-envelope{margin-left:15px;margin-top:17px;font-size:14px;}
#userLetter span{ right:12px; top:12px; transform:scale(0.8,0.8);-webkit-transform:scale(0.8,0.8); font-size:9px\0;*font-size:9px;position:absolute;color:#ec5a02;}
.letter {width:45px;color:#8a96a2;}
.user{color:#fff;}
.user .Hover,.letter .Hover{color:#FFFFFF;}
.user #userN.Hover em.fl{color:#FFFFFF;}
#userHandle:hover .userNav{display: block}
#userHandle i{line-height: 60px;}
.userNav {
	display: none;
	width: 110px;
	background: #FFFFFF;
	box-shadow: 0px 0px 12px 0px rgba(68, 153, 255, 0.1);
	border: 1px solid #EEF0F6;
	position: absolute;
	top:60px;
	right: 0;
	font-weight: 400;
	color: #666A77;
	padding: 10px 0;
}
.userNav::before{
	content:'';
	display:block;
	position:absolute;
	right: 50px;
	top: -12px;
	width: 0;
	height: 0;
	border-width: 6px;
	border-style: dashed dashed dashed dashed;
	border-color: transparent  transparent #fff transparent;
}
.userNavItem{
	height: 30px;
	line-height: 30px
}
.userNavItem:hover{
	color: #4499ff;
    line-height: 28px;
    background: #eef5ff;
    height: 28px;
    border-top: 1px solid #e5efff;
    border-bottom: 1px solid #e5efff;
}
/* ��ҳ���� */
.pageArea{text-align:center;}
.pageArea .pageList li{float: left;display: inline;margin: 0 2px;position: relative;}
.pageArea .pageList li span,.pageArea .pageList li a{float: left;display: inline;width: 28px;height: 28px;line-height: 28px;color: #333;border: 1px solid #fff;background: #FFF;font-size: 15px;overflow: hidden;text-align: center;}
.pageList li a:hover{color:#58ade1;background:#fff;border:1px solid #58ade1;}
.pageList li a:active{color:#0367a7;border:1px solid #0367a7;}
.pageArea .pageList li a.cur{color: #FFF;background: #177bbb;border: 1px solid #177bbb;}
.pageArea .pageList li a.dis{color: #ccc;}
.pageArea .pageSelect, .pageArea .chosen-select-page{width: 50px;}
.pageArea  .inputText_short:focus{border: 1px solid #187bbc;box-shadow: 0px 0px 1px #187bbc;}
.pageArea  .inputText_short_error{border: 1px solid #ea5b5b;}
.pageArea .btnLinew40{width: 40px;height: 20px;line-height: 16px;font-size:13px;}
.pageArea  .minorBtnLine{background: #FFF;border: 1px #cccccc solid;color: #666666;}
.pageArea  .minorBtnLine:hover{border: 1px #ececec solid;}

/* ������ */
#bg{background: rgb(150,150,150);opacity: 0.5;position: absolute;z-index: 5;}
#bg2{background: rgb(150,150,150);opacity: 0.5;position: absolute;z-index: 7;}
.detail_pop{position:absolute;background:#fff;border:1px solid #ddd;z-index:7;}
.detail_pop .titlePop{height:40px;font: normal 17px/38px "Microsoft Yahei";padding:0 20px;color: #222d44;}
.detail_pop .close{width:10px;height:10px;cursor:pointer;}
.detail_pop .pop_conArea{color:#666666;}
.detail_pop .footPop{position:absolute;height:64px;bottom:0px;width:100%;text-align:center;}
.detail_pop .footPop .btnArea{margin:15px;}

/* pop-���� ������ */
.detail_pop .errorCorrectionCon{color:#545e67;}
.detail_pop .errorCorrectionCon .corrType_btn{padding:4px 10px;border:1px solid #ccc;border-radius:3px;background-color:#FFF;color:#8c95a4;text-align:center;cursor:pointer;}
.detail_pop .errorCorrectionCon .corrType_btn_tag{background-color: #187bbc;color: #fff;border-color: #187bbc;}
.detail_pop .errorCorrectionCon .t_Notice{position: absolute;right: 60px;bottom: 8px;color: #8c9aa5;}
.detail_pop .errorCorrectionCon .showBgPoto{width:200px;height:112px;border:1px solid #ccc;cursor:pointer;background:url(../../images/upLoadPng.jpg) no-repeat;background-size:100%;}



/* 树ztree */
.ztree li{  outline: none;  }
.ztree li.level0{ position: relative; padding-left: 20px; background-color: #fafafa;  }
.ztree li.level0 li{  line-height: 32px;  }
.ztree li ul{  padding: 5px 0 6px 21px;  }
.ztree li span{  color: #575f6c;  font-size: 14px;  }
.ztree li span.button{  display: inline-block;  vertical-align: middle;  }
/* 多选框 -- 取消勾选 */
.ztree li span.checkbox_false_full,
.ztree li span.checkbox_false_full_focus{  background: url(../../images/img/cb.png) no-repeat;  background-position: 1px 1px;  width: 16px;  height: 16px;  margin-bottom: 3px;  }
/* 多选框 -- 半勾选 */
.ztree li span.checkbox_true_part_focus,
.ztree li span.checkbox_true_part,
.ztree li span.checkbox_false_part_focus,
.ztree li span.checkbox_false_part{ background: url(../../images/img/cb.png) no-repeat;  background-position: 1px -64px;  width: 16px;  height: 16px;  margin-bottom: 3px;  }
/* 多选框 -- 勾选 */
.ztree li span.checkbox_true_full,
.ztree li span.checkbox_true_full_focus{  background: url(../../images/img/cb.png) no-repeat;  background-position: 1px -31px;  width: 16px;  height: 16px;  margin-bottom: 3px;  }
/* 单选框 -- 取消勾选 */
.ztree li span.radio_false_full,
.ztree li span.radio_false_full_focus,
.ztree li span.radio_false_part_focus,
.ztree li span.radio_false_part{  background: url(../../images/img/cb.png) no-repeat;  background-position: 1px -130px;  width: 16px;  height: 16px;  margin-bottom: 3px;  }
/* 单选框 -- 勾选 */
.ztree li span.radio_true_full,
.ztree li span.radio_true_full_focus,
.ztree li span.radio_true_part_focus,
.ztree li span.radio_true_part{  background: url(../../images/img/cb.png) no-repeat;  background-position: 1px -98px;  width: 16px;  height: 16px;  margin-bottom: 3px;  }
.ztree li a{padding: 0 0 0 8px;cursor: pointer;width:140px;overflow:hidden;text-overflow:ellipsis;white-space:normal;}
.ztree li a.level0{  color: #ffffff;  font-size: 16px;  height: 40px;  line-height: 40px;  margin-left: 6px;  }
.ztree li span.demoIcon{  padding: 0 2px 0 10px;  }
.ztree li span.button.ArrowDown{  margin-left: 16px;  background: url(../../images/img/down_icon.png) no-repeat;  width: 12px;  height: 9px;  }
.ztree li span.button.ArrowUp{  margin-left: 16px;  background: url(../../images/img/up_icon.png) no-repeat;  width: 12px;  height: 9px;  }











/* ����Ӧý����ѯ */
@media screen and (max-width:1280px){
    .main{width:1180px;margin:0 auto;}
}

@media only screen and (min-width:1281px) and (max-width:1440px){
    .main{width:1200px;margin:0 auto;}
}

@media only screen and (min-width:1441px) and (max-width:1680px){
    .main{width:1420px;margin:0 auto;}
}

@media screen and (min-width:1681px){
    .main{width:1540px;margin:0 auto;}
}

/* 解决花屏现象 */
.ms-controller{
   visibility: hidden
}

/* 系统提示弹框 */
.moveTip{width: 300px;text-align: center;border: 3px solid #e5e5e5;-moz-border-radius: 15px;-webkit-border-radius: 15px;border-radius: 15px;background: white;z-index: 10;word-break: break-all;word-wrap: break-word;padding: 22px 14px 22px 14px;font-size: 16px;}
.DelemoveTip{width:400px;height:160px;text-align:center;border: 1px solid #ddd;background: white;z-index:10;}
.DelemoveTip .HeadTitle{background: url(../images/dialog_title_bg.gif) repeat-x;height: 40px;padding: 0 20px;font: bold 14px/38px "Microsoft Yahei";color: #9f9e9e;text-align: left;}
.DelemoveTip .TipDescri{margin-top:20px;font-size:14px;height: 40px;width: 356px;margin-left: 20px;}
.DelemoveTip .btn-box{width: 364px;margin: 0 auto;height: 32px;padding-top: 6px;}
.DelemoveTip .btn-box span {border-radius: 3px;font-size: 14px;color: #fff;text-align: center;line-height: 26px;cursor: pointer;padding: 3px 5px 3px 5px;}
.DelemoveTip .btn-box span.ComCancel {background: #dddddd;color: #6f6969;}
.DelemoveTip .btn-box span.ComOk {background: #4499ff;margin-left:14px;}
.lineBtnw40 {width:38px; height:18px; line-height:18px; font-size:13px; line-height:16px\9;}
.lineBtnw70{width:70px; height:29px; line-height:28px; font-size:14px;}
.lineBtnw80 {width:78px; height:28px; line-height:28px; font-size:14px;}
.lineBtnw100 {width:98px; height:32px; line-height:32px; font-size:16px;}
.lineBtnw160 {width:158px; height:32px; line-height:32px; font-size:16px;}
.lineBtnw200 {width:198px; height:48px; line-height:48px; font-size:20px;}
.lineBtnw280 {width:278px; height:48px; line-height:48px; font-size:20px;}
/**
 * 弹出框的样式
 */
.IsDel{
    width:350px;
    height:120px;
    padding：20px;
    border:1px solid #e5e5e5;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius:5px;
    font-family:"Microsoft YaHei";
    background: white;
    padding: 0 20px;
}
.IsDel_Title{
    font-size: 16px;
    padding-top: 26px;
    text-align: center;
    color:#666a77;
}
.IsDel_Btn{
    text-align: center;
    height: 40px;
    padding-top: 16px;
}
#btn_cancel {
    background: #fff;
    color: #222d44;
    border: 1px solid #ccc;
}
#btn_ok {
    background: #4499ff;
    color: #fff;
    border: 1px solid #4499ff;
}
.gray{
    background:#738092;
}
.orange{
    background:#ff6000; 
    margin-right: 12px; 
}
.IsDel .IsDel_Btn a{
    width: 78px;
    height: 28px;
    line-height: 28px;
    color: #ffffff;
    display:inline-block;
    text-align: center;
    font-size: 14px;
    border-radius: 2px;
    cursor: pointer;
}

.IsDel_Btn a.none{
    display:none;
}

/* 全局faq链接快 */
.helpBox {
	position: fixed;
    bottom: 80px;
    right: 30px;
    width: 58px;
    /* height: 120px; */
    background: #FFFFFF;
    box-shadow: 0px 5px 20px 0px rgba(34, 45, 68, 0.1);
    border-radius: 3px;
    border: 1px solid #E7ECF1;
    box-sizing: border-box;
}
.helpBox #helpLink {
	height:60px;
	background:url(../../images/img/help.png) no-repeat;
	background-position: center;
	cursor:pointer;
}
.helpBox #topLink {
	height:60px;
	background:url(../../images/img/gotop.png) no-repeat;
	background-position: center;
	border-top: 1px solid #F0F2F5;
	cursor:pointer;
}
/* 考试页帮助链接 */
#tika_helpLink {
	margin-top: 15px;
	text-align: center;
	cursor:pointer;
	font-size: 14px;
	font-weight: 400;
	color: #8D97A3;
	text-shadow: 0px 6px 36px rgba(51, 136, 255, 0.15);
	text-decoration:underline;
}
#helpPop {
	position:fixed;
	top:10%;
	right:20%;
	z-index:6;
	display:none;
	width:60%;
	height:80%;
	background: #FFFFFF;
	border-radius: 4px;
	padding:20px 30px;
	padding-top:0;
	box-sizing:border-box;
}
#helpPop ol li{
	list-style:decimal;
	font-size: 15px;
	font-weight: 600;
	color: #2B2C30;
	margin: 20px 0;
}
#helpPop #helpTabLine{
	display:flex;
	height: 59px;
	background: #FFFFFF;
	align-items: center;
	border-bottom:1px solid #EEF0F6;
}
#helpPop #helpTabLine .tabItem{
	
	font-size: 16px;
	font-weight: 600;
	color: #222D44;
	padding: 0 20px;
	cursor:pointer;
}
#helpPop #helpTabLine .tabItem.cur{
	font-size: 18px;
}
#helpPop #helpTabLine .tabItem.cur::after{
	content: "";
    width: 45px;
    height: 3px;
    background: #3388ff;
    display: flex;
    top: 16px;
    margin: 0 auto;
    position: relative;
};
#helpMainCon{
	padding: 0 30px;
	position: relative;
	height: calc(100% - 80px);
	overflow: hidden;
}
#helpPop .helpItemTitle{

	font-size: 15px;
	font-weight: 600;
	color: #2B2C30;
}
#helpPop .helpItemCon{

	font-size: 14px;
	font-weight: 400;
	color: #666A77;
}
#helpClose {
	position: absolute;
    top: 6px;
    right: 25px;
    color: #979797;
    font-size: 30px;
    cursor: pointer;
}
#helpLightBox {
	position: fixed;
    left: 0;
    background-color: #000;
    top: 0;
    width: 100%;
    height: 100%;
    filter: alpha(opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
    zoom: 1;
    display:none;
    z-index:5;
}