@charset "utf-8";
/* css reset 
 ************************************************************/
body,ul,ol,dl,dd,p,form,h1,h2,h3,h4,h5,h6,pre,button,dt,input,textarea{
	margin:0;
	padding:0;
}
ul,ol{
	list-style-type:none;
}
i,cite,em,var,address,dfn{
	font-style:normal;
}
html{
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
body{
	background-color: #F9F9F9;
	color:#333;
	font-size:12px;
	font-family: "Microsoft YaHei";
}
a{
	text-decoration:none;
	cursor: pointer;
}
a:hover{
	text-decoration:none;
}
a:hover,
a:focus,
a:active{
	outline:0;
}
img{
	vertical-align:text-top;/*跟文字对齐*/
	border:0 none;
	-ms-interpolation-mode:bicubic;
}
button,input,textarea{
	font-size:100%;
	color: inherit;
}
textarea{
	overflow:auto;
	vertical-align:top;
	resize:none;
}
h1,h2,h3{
	font-size:14px;
}
h4,h5,h6{
	font-size:12px;
}
p {
	margin-bottom: 5px;
	line-height: 15px;
}
table{
	width:100%;
	border-spacing:0;
	border-collapse: collapse;
	table-layout:fixed;
}
td,th{
	word-wrap:break-word;
	text-align:left;
}
input[type='radio'],
input[type='checkbox'] {
	width: 13px;
	height: 13px;
}
input[type='radio'],
input[type='checkbox'],
input + label {
	vertical-align: middle;
}
input + label,
input[type='checkbox'] + a {
	margin-left: 3px;
}
.pre {
	white-space: pre-wrap;
}
.clearfix {
	zoom:1;
}
.clearfix:before,
.clearfix:after{
	content:"";
	display:table;
	line-height:0;
}
.clearfix:after{
	clear:both;
}
.block {
	display: block;
}
.strong{
	font-weight: bold;
}
.nowrap{
	white-space: nowrap;
}
.text-ell {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.posr {
	position: relative;
}
.posa {
	position: absolute;
}
.fw400 {
	font-weight: 400;
}
.fs14 {
	font-size: 14px;
}
.fs16{
	font-size:16px;
}

/* button 按钮
 ****************************************/
.btn {
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
	padding-left: 20px;
	line-height: 1;
	background-image: -moz-linear-gradient(top, #F1155D, #BC062B);
	background-image: -webkit-linear-gradient(top, #F1155D, #BC062B);
	background-image: -o-linear-gradient(top, #F1155D, #BC062B);
	background-image: linear-gradient(to bottom, #F1155D, #BC062B);
	white-space: nowrap;
	text-decoration:none!important;
	font-size: 0;
}
.btn .btn-r {
	display: inline-block;
	color: #fff;
	font-size: 12px;
	height: 25px;
	line-height: 25px;
	padding-right: 20px;
}
.btn:hover {
	text-decoration: none;
	background-image: -moz-linear-gradient(top, #BC062B, #F1155D);
	background-image: -webkit-linear-gradient(top, #BC062B, #F1155D);
	background-image: -o-linear-gradient(top, #BC062B, #F1155D);
	background-image: linear-gradient(to bottom, #BC062B, #F1155D);
}
.btn-reds {
	background-image: -moz-linear-gradient(top, #D90039, #9C1212);
	background-image: -webkit-linear-gradient(top, #D90039, #9C1212);
	background-image: -o-linear-gradient(top, #D90039, #9C1212);
	background-image: linear-gradient(to bottom, #D90039, #9C1212);
}
.btn-reds .btn-r {
	height: 21px;
	line-height: 21px;
}
.btn-reds:hover {
	background-image: -moz-linear-gradient(top, #9C1212, #D90039);
	background-image: -webkit-linear-gradient(top, #9C1212, #D90039);
	background-image: -o-linear-gradient(top, #9C1212, #D90039);
	background-image: linear-gradient(to bottom, #9C1212, #D90039);
}
.btn-gray {
	background-image: -moz-linear-gradient(top, #EAEAEA, #BFBFBF);
	background-image: -webkit-linear-gradient(top, #EAEAEA, #BFBFBF);
	background-image: -o-linear-gradient(top, #EAEAEA, #BFBFBF);
	background-image: linear-gradient(to bottom, #EAEAEA, #BFBFBF);
}
.btn-gray .btn-r {
	color: #666;
}
.btn-gray:hover {
	background-image: -moz-linear-gradient(top, #BFBFBF, #EAEAEA);
	background-image: -webkit-linear-gradient(top, #BFBFBF, #EAEAEA);
	background-image: -o-linear-gradient(top, #BFBFBF, #EAEAEA);
	background-image: linear-gradient(to bottom, #BFBFBF, #EAEAEA);
}

.btn-grays {
	background-image: -moz-linear-gradient(top, #F0F0F0, #D4D4D4);
	background-image: -webkit-linear-gradient(top, #F0F0F0, #D4D4D4);
	background-image: -o-linear-gradient(top, #F0F0F0, #D4D4D4);
	background-image: linear-gradient(to bottom, #F0F0F0, #D4D4D4);
	padding-left: 10px;
	border: 1px solid #ccc;
}
.btn-grays .btn-r {
	height: 20px;
	line-height: 20px;
	min-width: 40px;
	text-align: center;
	color: #4B5964;
	padding-right: 10px;
}
.btn-grays:hover {
	background-image: -moz-linear-gradient(top, #D4D4D4, #F0F0F0);
	background-image: -webkit-linear-gradient(top, #D4D4D4, #F0F0F0);
	background-image: -o-linear-gradient(top, #D4D4D4, #F0F0F0);
	background-image: linear-gradient(to bottom, #D4D4D4, #F0F0F0);
}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
.none {display: none;}
/*填空题的样式*/
.banking{height: 22px;outline: none;line-height: 22px;padding-left: 5px;font-size: 16px;border: none;border-bottom: 1px solid #e8e8e8;}
.subbanking{height: 22px;outline: none;line-height: 22px;padding-left: 5px;font-size: 16px;border: none;border-bottom: 1px solid #e8e8e8;}